.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 157, 164, 0.9);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal{
    background-color: rgb(244, 246, 234);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 24px 23px 29px -9px rgba(0,0,0,0.75);
    color: #024E53;
    width: 65%;
}
.modal h2{
    font-size: 35px;
}

.modal>form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.modal>form>.input-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}
.modal>form>.input-container>input{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(0,212,255,1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,212,255,1), inset 0 0 10px rgba(0,212,255,1);
    font-size: 15px;
    padding: 10px;
    
}

.modal>form>.input-container>textarea{
    height: 100px;
    resize: none;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(0,212,255,1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,212,255,1), inset 0 0 10px rgba(0,212,255,1);
    padding: 10px;
}

.controls-form{
    display: flex;
    justify-content: space-between;
}

.btnNewTask{
    display: flex;
    justify-content: center;
    
}
.btnNewTask button{
    background-color: #ffffff00;
    color: #024E53;
    border: none;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 10px;
}

.controls-form button{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #024E53;

}

.controls-form :hover{
    background-color: white;
    color: #024E53;
    font-weight: bold;
    border-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal {
        width: 90%;
    }
    
    .controls-form
    {
        height: 100px;
        flex-direction: column;
    }

    .controls-form button{
        margin: 0 auto;
        width: 70%;
        align-items: center;
    }
    
}