body{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #e4eff8;
}


.noteContainer{
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  padding: 40px;
  background: rgb(250,243,221);
  background: linear-gradient(180deg, rgba(250,243,221,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 20px;
  box-shadow: 25px 24px 45px 0px rgba(0,0,0,0.75);
}

.mainContainer h1{
  font-size: 60px;
}

.buscarTarea{
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(0,212,255,1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,212,255,1), inset 0 0 10px rgba(0,212,255,1);
}

@media screen and (max-width: 600px) {
  .mainContainer{
    width: 95%;
    padding:40px 5px;
  }
  .buscarTarea{
    width: 90%;
  }
}
@media screen and (max-width: 1000px){
  .mainContainer{
    width: 80%;
  }
}